body {
  background-color: #000;
  color: #fff;
  font-family: monospace, Arial, Helvetica, sans-serif;
  padding-left: 5%;
}
main {
  padding-left: 5%;
}
li {
  padding-bottom: 10px;
}
small{
  color: #444;
  font-size: 12px;
}
a:hover {
  color: #fff;
  transition: 50ms;
}
a {
  color: #99f;
}

#news h2{
  color: #55f;
  text-decoration: underline;
}