    @font-face {
        font-family: Pusab;
        src: url('../../data/fnt/Pusab.ttf')
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
        padding: 0%;
        margin: 0%;
    }
    
    body {
        color: #ffffff;
        background-image: url('../../data/img/bg.jpg');
        background-position: center;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    p {
        font-family: Pusab;
        font-size: 4vh;
        -webkit-text-stroke-width: 0.2vh;
        -webkit-text-stroke-color: black;
    }
    
    a {
        text-decoration: none;
        color: #ffffff;
        -webkit-text-stroke-width: 0.2vh;
        -webkit-text-stroke-color: black;
        text-shadow: 0 0 0 #F5DA44;
        transition: 0s;
    }
    
    a:hover {
        color: #ffd900;
        text-shadow: 0 0 15px #F5DA44;
        transition: 0.5s;
    }
    
    #logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 17vh;
    }
    
    #logo img {
        height: 18vh;
    }
    
    #btnbox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8vh;
    }
    
    #btnbox2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        background-color: #ffffff;
        border: 0.3vh solid #ffffff;
        border-radius: 1vh;
    }
    
    button {
        padding: 0 3vh;
        margin: 0;
        font-size: 4vh;
        font-family: Pusab;
        color: #ffffff;
        -webkit-text-stroke-width: 0.2vh;
        -webkit-text-stroke-color: black;
        background-image: url('../../data/img/back.png');
        border: 0.5vh solid #000000;
        border-radius: 1vh;
        cursor: pointer;
    }
    
    button:active {
        font-size: 4.5vh;
    }
    
    #iconbox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
    
    #iconbox img {
        background-color: #000000b9;
        padding: 10px;
        border-radius: 5px;
    }
    /* #options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}*/
    
    #text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vh;
    }